{% extends "layout.html" %}

{% block navbar %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo center"><img
                        src="{{ url_for('static', filename='img/logo.png') }}">{{ number_of_tweets }} Tweets </a>
                {% if 'email' in session %}
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a id="polarity_scroll"
                               class="font_btn_scroll waves-effect waves-light btn orange accent-1 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                               data_id="polarity"><i class="material-icons right">mood</i>Sentiment</a>
                        </li>
                        <li>
                            <a id="location_scroll"
                               class="font_btn_scroll waves-effect waves-light btn blue accent-1 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                               data_id="location"><i class="material-icons right">location_on</i>Location</a>
                        </li>
                        <li>
                            <a class="btn waves-effect waves-light orange darken-2 navbar_btn"
                               href="{{ url_for('close_double_session') }}"><i
                                    class="material-icons right">close</i>Fermer</a>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href={{ url_for('logout') }}>Se
                            déconnecter</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row" >
        <div class="col s6 m6 l6" id="session_target" data-session="{{ sessions[0] }}">
        {{ sessions[0] }}
            <div class="row center">
                <div id="location_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                    <div class="x_panel col s12 l12 m12 center">
                        <div class="x_title">
                            <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Cartographie</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                                </li>
                                <li><a class="close-link"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block;">
                            <div id="mapid" class="map-responsive"></div>
                            <div id="cartographie" class="interface_content"></div>
                        </div>
                    </div>
                    <div class="col m2 s2 l2"></div>
                </div>
            </div>

            <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

            <div class="row center">
                <div id="polarity_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                    <div class="x_panel col s12 l12 m12 center">
                        <div class="x_title">
                            <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Sentiment</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                                </li>
                                <li><a class="close-link"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block;">
                            <div {% if number_of_tweets == 0 or current_session.mode == "stream" %}
                                style="display: none" {% endif %}
                                class="preloader-wrapper big active loader_wordcloud"
                                id="loading_circle_polarity">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="pie_chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

        </div>
        <div class="col s6 m6 l6" id="session_target2" data-session="{{ sessions[1] }}">
            <div class="row center">
            {{ sessions[1] }}
                <div id="location_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                    <div class="x_panel col s12 l12 m12 center">
                        <div class="x_title">
                            <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Cartographie</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                                </li>
                                <li><a class="close-link"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block;">
                            <div id="mapid" class="map-responsive"></div>
                            <div id="cartographie" class="interface_content"></div>
                        </div>
                    </div>
                    <div class="col m2 s2 l2"></div>
                </div>
            </div>

            <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

            <div class="row center">
                <div id="polarity_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                    <div class="x_panel col s12 l12 m12 center">
                        <div class="x_title">
                            <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Sentiment</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                                </li>
                                <li><a class="close-link"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block;">
                            <div {% if number_of_tweets == 0 or current_session.mode == "stream" %}
                                style="display: none" {% endif %}
                                class="preloader-wrapper big active loader_wordcloud"
                                id="loading_circle_polarity">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="pie_chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script-double-session.js') }}"></script>
{% endblock %}