{% extends "layout.html" %}
{% block body %}
    {% if userLogged %}
        <div class="row container">
            <h3 class="left"><i>Bonjour, {{ user.first_name }}</i></h3>
        </div>
        <div class="row container">
            {% if sessionAmount == 0 %}
                <h4 class="center">Aucune session pour le moment</h4>
                <div class="row ">
                    <div class=" col m12 center ">
                        <a class="waves-effect waves-light btn blue darken-2" href={{ url_for('addSession') }}><i
                                class="material-icons right">add_circle</i> Nouvelle session</a>
                    </div>
                </div>
            {% else %}
                <h4 class="center">Mes sessions </h4>
                <div class="row">
                    <div class=" col m12 center ">
                        <a class="waves-effect waves-light btn blue darken-2" href={{ url_for('addSession') }}><i
                                class="material-icons right">add_circle</i> Nouvelle session</a>
                    </div>
                </div>
                {% for s in user_sessions %}
                    <div class="col s6 m3 l3">
                        <div class="card session_card">
                            <div class="card-image center">
                                <img src="{{ s.src_img }}">
                                <a id="simple_session" class="btn-floating halfway-fab waves-effect waves-light blue darken-3"
                                   data-position="right"
                                   href="{{ url_for('display_session',session_id=s._id) }}"><i
                                        class="material-icons">launch</i></a>
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ s.session_name }}</span>
                                <hr>

                                <p><i><b>Nombre de tweets :</b> {{ s.nbtweets }}<br> </i>
                                </p>
                                <p><i><b>Mot(s) clé(s) :</b> {{ s.params.keywords }}</i></p>
                                <p><i><b>Type de sessions :</b> {{ s.mode }}</i></p>
                                <p>
                                    {% if s.last_modification_date != s.start_date %}
                                        <i><b>Dernière modification
                                            le </b><br> {{ datetime.strptime(s.last_modification_date,('%d-%m-%y-%H-%M-%S')).strftime('le %d/%m/%y à %H:%M') }}
                                        </i>
                                    {% else %}
                                        <i>créée le <br> {{ s.start_date }}</i>
                                    {% endif %}
                                </p>
                            <br>
                                <div id="session_parameter">
                                     <button id="session_parameter_button" data-position="right" class="btn-floating halfway-fab waves-effect waves-light blue darken-3" value="{{ s._id }}">
                                         <i class="material-icons">remove</i>
                                     </button>
                                <div id="param" class="{{ s._id }}">
                                    <p>
                                        {% if s._id != null %}
                                            <i><b>ID de la session : </b> {{ s._id }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.tweets_batch != None %}
                                            <i><b>Nombres de tweets à récuperer : </b> {{ s.tweets_batch }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.start_date != None %}
                                            <i><b>Date de début : </b> {{ datetime.strptime(s.start_date,('%d-%m-%y %H:%M:%S')).strftime('le %d/%m/%y') }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.params.stop_date != None %}
                                            <i><b>Date de fin : </b> {{ datetime.strptime(s.params.stop_date,('%Y-%m-%d')).strftime('le %d/%m/%Y')  }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.params.start_time != None %}
                                            <i><b>Heure de début : </b> {{ datetime.strptime(s.params.start_time,('%H:%M')).strftime('à %H:%M') }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.params.stop_time != None %}
                                            <i><b>Heure de fin : </b> {{ datetime.strptime(s.params.stop_time,('%H:%M')).strftime('à %H:%M') }}</i>
                                        {% endif %}
                                    </p>

                                    <p>
                                        {% if s.params.language != '' %}
                                            <i><b>Language : </b> {{s.params.language }}</i>
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>


                                <a class="modal-trigger red-text" href="#modal{{ s._id }}"><i>Supprimer</i></a>
                            </div>

                            <div class="checkbox_s">
                                <input type="checkbox" id="{{ s._id }}" value=""/>
                                <label for="{{ s._id }}">Cochez deux sessions</label>
                            </div>
                            <div class="id_session">{{ s._id }}</div>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="modal{{ s._id }}" class="modal">
                        <div class="modal-content">
                            <h4>Supprimer votre session ?</h4>
                            <p>Vous êtes sur le point de supprimer votre session, toutes les données seront perdues.
                                Confirmez-vous
                                sa
                                suppression ?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_session',session_id=s._id) }}"
                               class="modal-action modal-close waves-effect waves-green btn-flat">Supprimer</a>
                            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="sessionsdouble">
                <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3"
                   id="doublesessions" data-position="right" href="">
                    <i class="material-icons">launch</i>
                </a>
            </div>
            {% if page_number > 1 %}
                <div class="row center">
                    <ul class="pagination">
                        {% if current_page > 1 %}
                            <li class="waves-effect"><a href="{{ url_for('index', page=current_page-1) }}"><i
                                    class="material-icons">chevron_left</i></a></li>
                        {% else %}
                            <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}
                        {% for i in range(1,page_number + 1) %}
                            {% if current_page == i %}
                                <li class="active blue darken-2"><a href="{{ url_for('index', page=i) }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="waves-effect"><a href="{{ url_for('index', page=i) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if current_page < page_number %}
                            <li class="waves-effect"><a href="{{ url_for('index', page=current_page + 1) }}"><i
                                    class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>

                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% else %}
            <div class="row container center">
                <h1>Bienvenue sur TweetoStats</h1>
                <!--   Icon Section   -->
                <div class="row">

                    <div class="col s12 m4 l4">
                        <div class="icon-block">
                            <i class="large material-icons">trending_up</i>
                            <h5 class="center">Analysez</h5>
                            <p class="light"> Obtenez des statistiques sur les sujets du moments, la Twittosphère n'aura
                                plus de secret
                                pour vous !</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <i class="large material-icons">access_time</i>
                            <h5 class="center">Suivez l'actualité</h5>

                            <p class="light">Grâce à Tweetostats, récupérez les tweets qui vous intéressent en DIRECT
                                !</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <i class="large material-icons">replay</i>
                            <h5 class="center">Retournez dans le passé</h5>
                            <p class="light">Vous avez raté un événement ?
                                Aucun souci, avec Tweetostats, retrouvez les anciens tweets qui ont boulversé la
                                toile</p>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col l6"><a class="waves-effect waves-light btn  blue darken-2"
                                           href={{ url_for('login') }}>Se
                        connecter</a></div>
                    <div class="col l6"><a class="waves-effect waves-light btn  blue darken-2"
                                           href={{ url_for('register') }}>S'inscrire</a></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}