{% extends "layout.html" %}
{% block body %}
    {% if not mode %}
        <div class="container">
            <div class="row center">
                <h2>Quel type de tweets souhaitez-vous ?</h2>
            </div>
            <div class="row">
                <div class="col s12 m4 l4 center">
                    <a class="waves-effect waves-light btn-large blue darken-2" href={{ url_for('addSession',mode='stream') }}>Tweets
                        en direct
                        <i class="material-icons left">play_circle_outline</i></a>
                </div>
                <div class="col s12 m4 l4 center">
                    <a class="waves-effect waves-light btn-large blue darken-2"
                       href={{ url_for('addSession',mode='dated_tweets') }}>Tweets passés
                        <i class="material-icons left">date_range</i></a>
                </div>
                <div class="col s12 m4 l4 center">
                    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <button class="btn-large waves-effect waves-light blue darken-2" type="submit"><i class="material-icons left">file_upload</i>
                                Tweets importés
                            </button>
                            <input type="file" name="json" required>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% elif mode == 'stream' or mode == 'dated_tweets' %}
        <div class="container">

            <div class="row center">
                <h2>Créez votre session</h2>
            </div>

            <div class="row">
                <form method="POST" action="{{ url_for('addSession') }}" class="col s12">
                    <div class="row">
                        <div class="input-field col s12 l6 m6">
                            <i class="material-icons prefix">short_text</i>
                            <input placeholder="MySessionName" id="session_name" type="text" class="validate"
                                   name="session_name" required>
                            <label for="session_name">Nom de la session</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l6 m6">
                            <i class="material-icons prefix">search</i>
                            <input placeholder="Nutella" id="keywords" type="text" class="validate"
                                   name="keywords">
                            <label for="keywords">Mots clés</label>
                        </div>
                        <div class="input-field col s12 l6 m6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="@realDonaldTrump" id="twitter_user" type="text" class="validate"
                                   name="twitter_user">
                            <label for="twitter_user">Utilisateur Twitter</label>
                        </div>
                    </div>
                    {% if mode =='dated_tweets' %}
                        <div class="row">
                            <div class="input-field col s12 l6 m6">
                                <i class="material-icons prefix">date_range</i>
                                <input id="start_date" type="text" name="start_date" class="datepicker">
                                <label for="start_date">Date de début</label>
                            </div>
                            <div class="input-field col s12 l6 m6">
                                <i class="material-icons prefix">date_range</i>
                                <input id="start_date" type="text" name="start_date" class="datepicker">
                                <label for="start_date">Date de fin</label>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="input-field col s12 l6 m6">
                            <i class="material-icons prefix">add_location</i>
                            <input placeholder="3.78300108, 43.54854151, 3.97065725, 43.67333749 " name="geocode"
                                   id="region" type="text" class="validate">
                            <label for="region">Régions</label>
                            <div id="map"></div>
                        </div>
                        <div class="input-field col s12 l6 m6">
                            <i class="material-icons prefix">language</i>
                            <input placeholder="fr" name="language" id="language" type="text" class="validate">
                            <label for="language">Langue</label>
                        </div>
                    </div>
                    <input name="mode" value="{{ mode }}" type="hidden">
                    <div class="row center">
                        <button class="btn waves-effect waves-light blue" type="submit">Récupérer les tweets
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}<h4>Mode non supporté</h4>
    {% endif %}

{% endblock %}