{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="querryRecap col m3 l3 s6 grey lighten-4 z-depth-3">
            <h4>{{ current_session.session_name }}</h4>
            <div class="divider"></div>
            <div class="section">
                <h5><i>Date de création</i></h5>
                <p>{{ current_session.start_date }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5><i>Mode</i></h5>
                <p> {{ current_session.mode }}</p>
                <div class="divider"></div>
                {% for param in current_session.params %}
                    {% if current_session.params[param] and param!='geocode' %}
                        <div class="section">
                            <h5><i>{{ param }}</i></h5>
                            <p>{{ current_session.params[param] }}</p>
                        </div>
                        <div class="divider"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if current_session.mode == "stream" %}
                <div class=" row center">
                    <button id="start-stream_button" action-target="{{ current_session._id }}"
                            class="btn waves-effect waves-light green">Start
                    </button>
                    <button id="stop-stream_button" class="btn waves-effect waves-light red" disabled>Stop</button>
                </div>
            {% endif %}
        </div>
        <div class="col m9 l9 s6">
            <a class="btn waves-effect waves-light orange right btnSession "
               href="{{ url_for('close_session', session_id=current_session['_id']) }}"><i
                    class="material-icons right">close</i>Fermer la session</a>
            <!-- Modal Trigger -->
            <a class="right waves-effect waves-light red btn modal-trigger btnSession" href="#modal1"><i
                    class="material-icons right">delete</i>Supprimer la session</a>
        </div>
        <div class="col m4 l4 s6 center">
            <h5>
                <span id="div_number_of_tweets"><strong>{{ number_of_tweets }}</strong></span> tweets récupérés.
            </h5>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Supprimer votre session ?</h4>
            <p>Vous êtes sur le point de supprimer votre session, toutes les données seront perdues. Confirmez-vous sa suppression ?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_session', session_id=current_session['_id']) }}" class="modal-action modal-close waves-effect waves-green btn-flat">Supprimer</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
        </div>
    </div>

{% endblock %}

{# Pour obtenir l'index on utilise object.index .Pour avoir la value on fait object[index] #}