{% extends "layout.html" %}

{#On charge une nouvelle navbar pour y ajouter les boutons d'interactions#}
{% block navbar %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo center"><img
                        src="{{ url_for('static', filename='img/logo.png') }}"></a>
                {% if 'email' in session %}
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        {% if current_session.mode == "stream" %}
                            <li>
                                <button id="start-stream_button" action-target="{{ current_session._id }}"
                                        class="btn waves-effect waves-light green navbar_btn">Start
                                </button>
                            </li>
                            <li>
                                <button id="stop-stream_button" class="btn waves-effect waves-light red navbar_btn"
                                        disabled>Stop
                                </button>
                            </li>
                        {% else %}
                            <li>
                                <button id="start-dated_tweets_button" data-batch="{{ current_session.tweets_batch }}"
                                        action-target="{{ current_session._id }}"
                                        class="btn waves-effect waves-light green navbar_btn pulse">
                                    Récupérer {{ current_session.tweets_batch }}
                                    tweets
                                </button>
                            </li>
                        {% endif %}
                        <li id="div_download_btn">
                            {% if number_of_tweets != 0 %}
                                <a class="waves-effect waves-light  grey darken-3 btn modal-trigger navbar_btn"
                                   id="download_btn"
                                   href="{{ url_for('download_file') }}"><i
                                        class="material-icons right">file_download</i>Exporter</a>
                            {% endif %}
                        </li>
                        <li>
                            <a class="btn waves-effect waves-light orange darken-2 navbar_btn"
                               href="{{ url_for('close_session') }}"><i
                                    class="material-icons right">close</i>Fermer</a>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href={{ url_for('logout') }}>Se
                            déconnecter</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row body hide-on-med-and-down">
        {#    debut card #}
        <div class="col m2 l2 s12 ">
            <div id="nav_left" class="card z-depth-3 grey lighten-4 fixed card_interface">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ current_session.src_img }}">
                </div>
                <div class="card-content">
                    <h4>{{ current_session.session_name }}</h4>
                    <div class="divider"></div>
                    <div class="section">
                        <strong><i>Date de création</i></strong>
                        <p>{{ current_session.start_date }}</p>
                    </div>
                    <div class="divider"></div>
                    {% if current_session.exporter_user %}
                        <div class="section">
                            <strong><i>Session exportée par</i></strong>
                            <p>{{ current_session.exporter_user }}</p>
                        </div>
                        <div class="divider"></div>
                    {% endif %}
                    <div class="section">
                        <strong><i>Mode</i></strong>
                        <p> {{ current_session.mode }}</p>
                        <div class="divider"></div>
                        {% for param in current_session.params %}
                            {% if current_session.params[param] and param!='geocode' %}
                                <div class="section">
                                    <strong><i>{{ param }}</i></strong>
                                    <p>{{ current_session.params[param] }}</p>
                                </div>
                                <div class="divider"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {#    fin card#}

        {#    debut side nav#}
        <div class="col s2 m2 l2">
            <div id="nav_right" class="card z-depth-3 grey lighten-4 card_interface">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator center" id="logo_bleu" src="../static/img/logo_bleu.png">
                </div>
                <div class="card-content">
                    <h5 class="center">
                        <i class="small material-icons right">archive</i> <strong
                            id="div_number_of_tweets">{{ number_of_tweets }}</strong> tweets</h5>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="general_wc_scroll"
                           class="font_btn_scroll waves-effect waves-light btn green smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                           data_id="general_wc">
                            <i class="material-icons right">cloud</i>WordCloud</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="histogram_scroll"
                           class="font_btn_scroll waves-effect waves-light btn blue accent-1 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                           data_id="histogram"><i class="material-icons right">insert_chart</i>Histogram</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="periode_scroll" class="font_btn_scroll waves-effect waves-light btn deep-purple lighten-1 smooth_scroll_btn disabled"
                           data_id="periode"><i class="material-icons right">search</i>Zoom Period</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="location_scroll"
                           class="font_btn_scroll waves-effect waves-light btn blue accent-1 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                           data_id="location"><i class="material-icons right">location_on</i>Location</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="polarity_scroll"
                           class="font_btn_scroll waves-effect waves-light btn orange accent-2 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                           data_id="polarity"><i class="material-icons right">mood</i>Sentiment</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section center">
                        <a id="bar_chart_scroll"
                           class="font_btn_scroll waves-effect waves-light btn accent vert-1 smooth_scroll_btn {% if number_of_tweets == 0 %} disabled {% endif %}"
                           data_id="bar_chart"><i class="material-icons right">insert_chart</i>Frequency Words</a>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        {#    fin side nav#}

        {#    word cloud general#}
        <div class="row center">
            <div class="col m12 l12 s12 center interface_element">
                {% if number_of_tweets == 0 %}
                    <div id="no_tweet_div" class="col s8 l8 m8 push-s2 push-m2 push-l2 center">
                        <img src="{{ url_for('static', filename='img/arrow.png') }}">
                        <h4>Vous n'avez toujours pas récupéré de tweets !</h4>
                        Commencez
                        maintenant en appuyant sur "Récupérer" ou "Start" !
                    </div>
                {% endif %}
            </div>
            {#    loader#}
            {% if current_session.mode == "dated_tweets" %}
                {% if number_of_tweets is number %}
                    <div class="progress" style="display: none">
                        {% set batch = current_session.tweets_batch | int %}
                        <div class="determinate" id="barre_progression"
                             style="width: {{ ((number_of_tweets % batch) / batch) * 100 }}%"></div>
                    </div>
                {% endif %}
            {% endif %}
            <div id="wordcloud_container" {% if number_of_tweets == 0 %}
                 style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2 center">
                    <div class="x_title flow-text">
                        <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Nuage de mots
                            général</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                            </li>
                            <li><a class="close-link"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div {% if number_of_tweets == 0 or current_session.mode == "stream" %}
                            style="display: none" {% endif %}
                            class="preloader-wrapper big active loader_wordcloud"
                            id="loading_circle">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                        {#                Wordcloud général#}
                        <div id="wordcloud" class="interface_content"></div>
                        {#                Fin Wordcloud général#}
                    </div>
                </div>
            </div>
        </div>

        <hr {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

        {#    Partie Interactive de l'interface#}


        <div class="row interface_elements" id="interaction_container" {% if number_of_tweets == 0 %}
             style="display: none" {% endif %}>
        </div>


        {#    fin loader#}


        <div class="row center">
            <div {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center" id="histogram_area">
                <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2  center">
                    <div class="x_title">
                        <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Histogramme</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                            </li>
                            <li><a class="close-link"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div class="col s4 m4 l4 tw">
                            <strong><i>Intervalle de temps</i></strong>
                            <form action="#">
                                <p>
                                    <input value="172800" name="time_interval" type="radio" id="interval1"/>
                                    <label for="interval1">2 jours</label>
                                </p>
                                <p>
                                    <input value="86400" name="time_interval" type="radio" id="interval2"/>
                                    <label for="interval2">1 jour</label>
                                </p>
                                <p>
                                    <input value="43200" name="time_interval" type="radio" id="interval3"/>
                                    <label for="interval3">12 heures</label>
                                </p>
                                <p>
                                    <input value="3600" name="time_interval" type="radio" id="interval4"/>
                                    <label for="interval4">1 heure</label>
                                </p>
                                <p>
                                    <input value="600" name="time_interval" type="radio" id="interval5"/>
                                    <label for="interval5">10 minutes</label>
                                </p>
                                <p>
                                    <input value="60" name="time_interval" type="radio" id="interval6"/>
                                    <label for="interval6">1 minute</label>
                                </p>
                                <p>
                                    <input value="30" name="time_interval" type="radio" id="interval7"/>
                                    <label for="interval7">30 secondes</label>
                                </p>
                            </form>
                        </div>
                        <div class="col s6 m6 l6 tw">
                            {#                    Histogram#}
                            <div class="duration" id="histogram">
                                <div id="tooltip" class="hidden">
                                    <p id="user"></p>
                                    <p id="content"></p>
                                    <p id="nbrt"></p>
                                </div>
                            </div>
                        </div>
                        {#    debut zoom periode#}
                        <div class="row interface_element" style="display: none" id="lw_tw">
                            <div class="col s6 m6 l6 interface_content">
                                <div class="preloader-wrapper big active" id="loading_circle_little_wordcloud">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="little-wordcloud"></div>
                            </div>
                            <div class="col l6 m6 s6 graphs right interface_content ">
                                <div class="preloader-wrapper big active" id="loading_circle_tweets">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                    <div id="little-wordcloud"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row center">
                            <i id="periode_selected" class="flow-text center"></i>
                        </div>
                        {#    fin zoom periode#}
                    </div>
                </div>
            </div>
        </div>

        <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

        {# Debut cartographie #}
        <div class="row center">
            <div id="location_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2 center">
                    <div class="x_title">
                        <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Cartographie</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                            </li>
                            <li><a class="close-link"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div id="mapid" class="map-responsive"></div>
                        <div id="cartographie" class="interface_content"></div>
                    </div>
                </div>
                <div class="col m2 s2 l2"></div>
            </div>
        </div>
        <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">

        {# Debut sentiment graphe #}
        <div class="row center">
            <div id="polarity_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2 center">
                    <div class="x_title">
                        <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Sentiment</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                            </li>
                            <li><a class="close-link"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div {% if number_of_tweets == 0 or current_session.mode == "stream" %}
                            style="display: none" {% endif %}
                            class="preloader-wrapper big active loader_wordcloud"
                            id="loading_circle_polarity">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                        <div id="pie_chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">
        {# Debut Frequency Words Bar Chart #}
        <div class="row center">
            <div id="bar_chart_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2 center">
                    <div class="x_title">
                        <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Frequency Words</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                            </li>
                            <li><a class="close-link"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div {% if number_of_tweets == 0 or current_session.mode == "stream" %}
                            style="display: none" {% endif %}
                            class="preloader-wrapper big active loader_wordcloud"
                            id="loading_circle_bar_chart">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                        <div id="bar_chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">
        {# debut sunburst #}
        <div class="row center">
                <div id="sunburst_panel" {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="col m12 l12 s12 center interface_element">
                    <div class="x_panel col s8 l8 m8 push-s2 push-m2 push-l2 center">
                        <div class="x_title">
                            <h2 {% if number_of_tweets == 0 %} style="display: none" {% endif %} class="flow-text">Sunburst</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="material-icons">expand_less</i></a>
                                </li>
                                <li><a class="close-link"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block;">
                            <div id="sunburst" class="interface_content"></div>
                           {# <div id="cartographie" class="interface_content"></div> #}
                        </div>
                    </div>
                    <div class="col m2 s2 l2"></div>
                </div>
            </div>
            <hr id="bottom"{% if number_of_tweets == 0 %} style="display: none" {% endif %} class="style-four">
        {# fin sunburst #}




    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script-session.js') }}"></script>
{% endblock %}